body {
padding-top: 70px;
transition: background 0.3s, color 0.3s;
}


.hero {
background: #343a40;
color: white;
padding: 60px 20px;
}


.section {
padding: 60px 20px;
}


.dark-theme {
background: #121212;
color: #f1f1f1;
}